# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/

# Mac
.DS_Store
.AppleDouble
.LSOverride
Icon

# Temporary files
~$*.docx
*.tmp
*.log

# Spark & checkpoint
metastore_db/
derby.log
checkpoint/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
